html, body {
	margin: 0;
	padding: 0;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100hv;
}

canvas {
	image-rendering: pixelated;
	width: 640px;
	height: 480px;
	background-color: #222;
	border: 2px solid white;
}